#image_index_user {
    width: 200px;
    height: 200px;
}
#btn_inline_user {
    display: inline;
}
.btn_inline {
    display: inline;
}
#image_index_course {
    width: 50px;
    height: 50px;
}
#image_edit_course{
    width: 200px;
    height: 200px;
    display: inline;
}
#form_index_subject{
    height: 50px;
    width: 50px;
    display: inline;
}
#img_index_subject{
    height: 50px;
    width: 50px;
}
